@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Indie+Flower&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
/* header-1 */
#header{
    background-color: #28A9E0;
    padding: 8px 0;

}
.header .main-container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.top-bar {
    color: white;
    display: flex;
    align-items: center;
    font-size: 15px;

}
.top-bar div {
    display: flex;
    align-items: center;
   
}
.top-bar.address{
    padding-left: 15px;
    padding-right: 24px;
    flex: 0 0 41% ;
    max-width: 41%;
}
.top-bar .address{
    padding-left: 15px;
    padding-right: 24px;
    flex: 0 0 41% ;
    max-width: 41%;
}
.top-bar  i{
    margin-right: 8px;
}
.top-bar .email{
    padding-right: 24px;
    padding-left: 15px;
    flex: 1;
}
.top-bar img {
    width: 24px;
    height: 24px;
}


/* header-2 */
.hedaer-2{
    background-color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
}
.navbar .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-links li{
    padding: 36px 20px 36px 0;
}
.navbar .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 15px;    
}
.navbar .nav-links a:hover,
.navbar .nav-links a.active {
    color: #28A9E0;
}





/* ------------------------------------------- */
/* banner */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;    background-image: url('images/bg_1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    text-align: center;
}
.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
}
.banner-content {
    position: relative;
    z-index: 1;
}
.banner-content h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 24px;
}
.banner-content p {
    font-size: 16px;
    margin: 10px 0;
    color: #E2E798;
    letter-spacing: 4px;
    margin-bottom: 8px;
    font-weight: 600;
}
.banner-content .button {
    display: inline-block;
    background-color: white;
    color: #333;
    padding: 10px 20px;
    
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}
.banner-slider .owl-nav.disabled+.owl-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
}


/* -------------------------------------- */
/* --------------------------- */

.features-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    z-index: 100;
    position: relative;
    background-color: #F8F9FA;
}
.feature-box.blue{
    background-color: #14bdee;
}
.feature-box.green{
    background-color: #8CC152;
}
.feature-box.purple{
    background-color: #5D50C6;
}
.feature-box.red{
    background-color: #F1453D;
}
.feature-box {
    flex: 1;
    padding: 30px;
    color: white;
   
}
.feature-box {
    background-color: #28A9E0;
}


.feature-box h3 {
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 16px;
    padding-top: 8px;
}
.feature-box p {
    font-size: 16px;
    color: #F0F0F0;
}
.feature-icon{
    display: flex;
    justify-content: center;
    margin-top: -50px;
}
.icon-feature{
    line-height: 1.3;
    position: relative;
    width: 120px;
    height: 120px;
    background: #fff;
    margin-top: -60px;
    
   
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-feature i{
    font-size: 30px;
    color: black;
}










/* -------------------------------------------------- */
/* what-we-offer */

.what-we-offer .main-container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;    
}
.offer-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.offer-left
 {
    flex: 0 0 58%;
    max-width: 58%;
    padding: 48px 15px;
}
.offer-left .feature-card{
    display: flex;
}
.offer-right
 {
    flex: 0 0 41%;
    max-width: 41%;
    background: #FAFAFA;
    padding: 48px 15px;
    width: 100%;
}
.offer-left h2,
.offer-right h2 {
    font-size: 32px;
    margin-bottom: 20px;
   
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
}
.offer-left p,
.offer-right p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.feature-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.feature-item .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: #1eaaf1;
    
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-right: 18px;
    color: white;
}
.feature-item img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.feature-item h4 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}
.feature-item p {
    font-size: 14px;
    color: #666;
}
.offer-right .cta-button {
    background-color: #FFA500;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
}
.offer-right .cta-button:hover {
    background-color: #E69500;
}






/* ----------------------------- */
/* manner-section */
#manners-section{
    margin-top: 100px;
    padding: 128px 0;    background-image: url(images/bg_3.jpg);
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;


    
}
.manners-section .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .2;
    background: #000000;
}
.manners-section .main-container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;    
}
.course-banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    
    color: white;
    position: relative;
}
.course-content {
   display: flex;
   align-items: center;

    
   
}
.course-content .course-head{
    padding: 0 15px;
    
}
.course-content .course-bttn{
    padding: 0 15px;
    flex: 0 0 25%;
    max-width: 25%;
}

.course-content h2 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: bold;
}
.course-content p {
    font-size: 18px;
    margin-bottom: 20px;
}
.course-content .cta-button {
    background-color: #FFA500;
    color: white;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}
.course-content .cta-button:hover {
    background-color: #E69500;
}






/* ------------------------- */
/* -------------------------------------------------------- */
/* trainer */
#trainer-section{
    padding: 96px 12px;
}
.trainer .main-container{
    max-width: 1230px;
    margin: 24px auto;
    
}
.sub-choose-content{
    text-align: center;
}
.sub-choose-content h6{
    color: #F7B733;
font-size: 16px;
font-weight: 600;
}
.team-section {
    text-align: center;
    padding: 50px 20px;
    background-color: white;
  }
 
  .sub-choose-content h1 {
    color: #052146;
    font-size: 36px;
  }
  .team-cards {
    display: flex;
  }
  .team-card {
    background-color: #F3F6F8;
    
    width: 261px;
        text-align: center;
   
  }
  
  .team-card img {
    height: 261px;
    width: 261px;

  }
  .team-cards .card-padding{
    padding:  0 15px;
  }
  .team-card h3 {
    color: #052146;
    margin: 10px 0 5px 0;
  }
  .team-card p {
    color: #777;
    margin: 0;
  }
  .team-details span{
    text-transform: uppercase;
    color: #b3b3b3;
    display: block;
    letter-spacing: 1px;
  }




/* ---------------------------------------- */
/* ------------------------ */
/* school-news */


.school-news-section .main-container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 100px 0;
}


.news-section h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #003366;
}
.news-section p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #666;
}

.news-container{
    display: flex;
    padding: 0 15px;
}
.news-item{
    display: flex;
    height: 300px;
    margin-right: 30px;
    
    background: #FAFAFA;
    margin-bottom: 30px;
}
.news-item img{
    height: 298px;
    width: 250px;
    object-fit: cover;

}
.news-content {
    padding: 20px;
   
}
.news-content h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #0056B3;
}
.news-content .meta {
    font-size: 14px;
    color: #999;
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
}
.news-content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
}
.news-content a {
    text-decoration: none;
    color: #0056B3;
    font-weight: bold;
    align-self: flex-start;
    transition: color 0.3s;
}
.news-content a:hover {
    color: #003366;
}
.header-content{
    text-align: center;
}

/* ------------------------------------------------------------ */
/* counter-section */

#counter-section{
    padding-bottom: 88px;
    margin-top: 100px;

}
.counter-section .parallex-background{
    background-image: url(images/bg_4.jpg);
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* background-overlay */
    position: relative;
    transition: all 0.7s linear;
    text-align: center;
}
.counter-section .parallex-background .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.counter-section .main-container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 112px 15px;


}
.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
       color: white;
}
.stat {
    text-align: center;
    flex: 1;
}
.stat-icon {
    font-size: 50px;
    color: #F26522;
    margin-bottom: 10px;
}
.stat-icon img{
    height: 81px;
    width: 81px;
}
.stat-number {
    font-size: 50px;
    color: #1eaaf1;
}
.stat-label {
    font-size: 18px;
    color: grey;
}



/* ======================================== */
/* testimony-section */
#testimony-courses{
    margin-top: 100px;
}
.testimony-courses .main-container{
    
    margin-top: 100px;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.testimonial-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
.testimonial-content img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 32px;
}
.testimonial-text {
    text-align: left;
    max-width: 450px;
    position: relative;
}
.testimonial-text p {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}
.testimonial-text h4 {
    font-size: 18px;
    margin-top: 0;
}
.testimonial-text span{
    position: absolute;
    top: -40px;
    left: 0;
    opacity: .1;
}
.testimonial-text span i{
    font-size: 100px;
    color: #5d50c6;
}
.testimonial-text .role {
    color: #007BFF;
    font-size: 16px;
    margin-top: 0;
}
.testimonial-navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.testimonial-navigation span {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
}
.testimonial-navigation .active {
    background-color: #007BFF;
}
.owl-carousel .owl-item img {
    display: block;
   height: 120px;
   width: 113px;
}


/* ------------------------------------------------------------ */
/* request-a-quote */
#request-a-quote{
    margin-top: 100px;
    background-image: url(images/bg_5.jpg);
    background-position: 0% -88.8125px;
    background-attachment: fixed;
}
.request-a-quote .main-container{
    
    margin-top: 100px;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.request-a-quote .main-container .container {
    display: flex;
   
}



.request-a-quote .main-container .container {
    
    display: flex;
    justify-content: flex-end;
    
    color: #fff;
}

.request-a-quote .main-container .container .right-section{
    padding: 48px;
    background: #1eaaf1 !important;  width: 50%;
}

.request-a-quote .main-container .container h1 {
    margin-bottom: 20px;
    font-size: 40px;
    color: #fff;
}

.request-a-quote .main-container .container p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.9);
}

.request-a-quote .main-container .container form {
    display: flex;
    flex-direction: column;
}

.name-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.name-fields input {
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select, input[type="text"], textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    height: 58px !important;
    padding-left: 0;
    padding-right: 0;
    background: transparent !important;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 16px;
    border-radius: 0px;
   
    box-shadow: none !important;
    outline: none;

}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: white; 
    opacity: 1; 
}

textarea {
    height: 100px;
}

.request-a-quote .main-container .container form  button {
    padding: 16px 24px;    background-color: #ffa500;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.request-a-quote .main-container .container form  button:hover {
    background-color: #ff8c00;
}

/* ---------------------------------------------------------- */
/* our-pricing */
.our-pricing {
    margin-top: 100px;
 
 
 }
 .our-pricing .main-container{
     max-width: 1230px;
     padding: 0 15px;
     margin: 0 auto;
     
 
 }


 .our-pricing .main-container .pricing-section {
    text-align: center;
   
}
.pricing-content {
    display: flex;
    gap: 15px;
   
}
.our-pricing .main-container .pricing-card {
    background: #FAFAFA;   
    
    text-align: center;
    flex: 0 0 24%;
    max-width: 24%;
}
.pricing-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}
.pricing-card .price {
    font-weight: 900;
    font-size: 28px;
    color: #1eaaf1;
    background: none !important;
    margin-bottom: 10px;
}
.pricing-card .price span{
    font-size: 12px;
    color: grey;
    font-weight: 400;
}
.pricing-card .basis{
    padding: 20px;
}
.pricing-card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
}
.pricing-card p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    padding: 20px;
}
.pricing-card .price-bttn{
    padding-bottom: 24px;
}
.pricing-card .cta-button {
    background-color: #FFA500;
    color: white;
    padding: 12px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}








/* ---------------------------------------------- */

/* popular-courses */
.popular-courses {
   margin-top: 100px;
   padding: 112px 0;
   background: #FAFAFA;


}
.popular-courses .main-container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;

}

 .header-pop-content{
    max-width: 66%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 82px;
}

.header-pop-content h1 {
   
    line-height: 1.2;
    
    font-size: 44px;
    font-weight: 600;
    color: #5d50c6;
}
.header-pop-content h1 span{
    color: #fda638;

}

.header-pop-content p {
    margin-top: 14px;
    font-size: 16px;
    color: gray;
    margin-bottom: 16px;
 
    line-height: 1.85;
    /* text-align: center; */
    font-weight: 400;
 

    color: #777;
   
}
.popular-courses .main-container .grid-container {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.popular-courses .main-container .grid-container .grid-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    position: relative;
    
}
.grid-container .grid-padding{
    padding: 0 15px;
}
.popular-courses .main-container .grid-container .grid-item img {
    
    width: 379px;    height: auto;
}
.item-content {
    padding: 30px;
}
.item-content .meta-content{
    display: inline-block;
    /* display: inline; */
    position: absolute;
    /* bottom: 0; */
    bottom: 48%;
    left: 1px;
}
.item-content .meta-content .meta-date{
    display: flex;
    flex-direction: column;
    background: #5D50C6;
    padding: 8px;
    color: white;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
}
.lessons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666;
    font-family: Inter, sans-serif;
font-size: 16px;
font-weight: 400;
padding-bottom: 16px;
}
.lessons div{
    font-size: 16px;
    color: rgb(19, 106, 213);
}
.rating {
    color: rgb(255, 193, 7);
    font-family: Inter, sans-serif;
font-size: 16px;
font-weight: 400;
}
.item-content h3 {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #000000;
    margin-bottom: 8px;
    font-weight: 500;
}
.item-content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}
.price-learn-more {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 16px;
    border-top: 1px solid #dee2e6 ;    padding-top: 16px;
}
.price {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    overflow-x: hidden;
    font-size: 22px;
    color: #343a40;
}
.price-learn-more a {
    color: #136ad5;
    text-decoration: none;
    font-family: Inter, sans-serif;
font-size: 16px;
font-weight: 400;
}

.courses-button{
    width: 210px;
    height: 46px;
    border-radius: 3px;
    background: #14bdee;
    text-align: center;
    margin: 0 auto;
    margin-top: 41px;
    box-shadow: 0px 5px 40px rgba(29, 34, 47, 0.15);
}
.courses-button a{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 46px;
    color: #FFFFFF;
    text-decoration: none;

}

/* ----------------------------------------------------- */
/* image-section */
#image-section{
    margin-top: 100px;

}

.image-container{
    display: flex;
}

.image-container .container {
   
    max-width: 25%;
    flex: 0 0 25%;
   
   
   
}

.image-container .container {
    
  position: relative;
    
  }
  .image-container  img {
    height: 350px;
    width: 337px;
    object-fit: cover;
  }

  .image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    /* background: black; */
    cursor: pointer;
  }
  .image-container .overlay .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: "Times New Roman", Times, serif;

    width: 50px;
    height: 50px;
    margin: 0 auto;
    
    background: #1eaaf1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container .container:hover .overlay {
    opacity: 0.8;
  }

/* ---------------------------------------------- */
/* footer */
#footer-section{
    font-size: 14px;
    background: #232323;
    padding: 84px 0;
   
}
.footer-section .main-container{
    max-width: 1230px;
    margin: 0 auto;
    
}
.footer {
   
    color: #fff;
    
}
.footer-content {
    display: flex;
   
}
.footer-column {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
}
.footer-column h3 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 500;
}
.footer-column p,
.footer-column a {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 8px;
    text-decoration: none;
    line-height: 1.6;
    font-size: 14px;
}
.footer-column p a i{
    margin-right: 8px;
}
.blog-meta span{
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
}
.footer-column a:hover {
    color: #007BFF;
}
.footer-column .contact-info {
    display: flex;
    margin-bottom: 15px;
}
.footer-column .contact-info img {
    margin-right: 10px;
}
.footer-column .contact-info i{
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: white;
}
.footer-column .recent-blog {
    display: flex;
    margin-bottom: 24px;
}
.recent-blog img {
    width: 80px;
    height: 80px;
    margin-right: 24px;
}
.recent-blog div {
    font-size: 14px;
    color: #bbb;
}

.recent-blog .blog-meta span {
    margin-right: 15px;
}
.subscribe-form input[type="email"] {
    border-radius: 2px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1) !important;
    border: none;
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 16px;
    height: 52px;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    text-align: center;
}

.subscribe-form button {
    width: 100%;
    padding: 10px;
    background-color: #6A4FB0;
    color: white;
    border: none;
    
    cursor: pointer;
    background: #1eaaf1 !important;
    height: 52px;
}
.subscribe-form{
    margin-bottom: 48px;
}
.subscribe-form button:hover {
    background-color: #5A3F9F;
}
.social-icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}
.social-icons a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 18px;
}
.social-icons a:hover {
    color: #007BFF;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
    margin-top: 48px;
}